.container {
    padding: 10px;
    background-color: #e1fbf9;
    width: 933.75px;
    height: 100.26px;
    border-radius: 12.5px;
  }
  
  .greeting {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #2dbdb1;
  }