<div class="container">
  <div class="header">
    <div class="title">
      <h1 class="title-name">Quarterly Goals</h1>
      <img [src]="pencil" alt="Edit" class="pencil-icon" />
      <h1 class="year">Fall 2020</h1>
    </div>
  </div>

  <div class="list-items" id="goal-list">
    <div class="item">
      <div class="left">
        <img [src]="checkbox" alt="Edit" class="checkbox" />
        <div class="text">
          <h1 class="goal">Do well in algorithms class...</h1>
          <p></p>
          <p class="tag tag1">#class-algorithms</p>
          <p class="number">4 / 5</p>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="item">
      <div class="left">
        <img [src]="checkbox" alt="Edit" class="checkbox" />
        <div class="text">
          <h1 class="goal">Apply to all internships</h1>
          <p></p>
          <p class="tag tag2">#apply-internships</p>
          <p class="number">2 / 3</p>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="item">
      <div class="left">
        <img [src]="checkbox" alt="Edit" class="checkbox" />
        <div class="text">
          <h1 class="goal">Technical interview prep</h1>
          <p></p>
          <p class="tag tag3">#interview-technical</p>
          <p class="number">1 / 2</p>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="add-item" id="add-goal-btn">
    <h1>+ Add a quarter goal</h1>
  </div>
</div>
